* {
    padding: 0;
    margin: 0;
}

main {
    text-align: center;
}

#form-container {
    display: flex;
    justify-content: center;
}

.form-hide {
    scale: 0;
}

.hide-element {
    display: none;
}

.form-display {
    text-align: center;
    position: absolute;
    top: 200px;
    background-color: gray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    gap: 5px;
}

#book-shelf {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 1rem;
}

.book {
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
}

.book-already-read {
    background-color: green;
}

.book-not-read {
    background-color: red;
}

#same-book-error {
    outline: red solid 1px;
}